@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500;600;700&display=swap");
.footer {
  padding: 2rem 0;
  background-color: /*rgb(27, 2, 87)*/ rgb(98 44 169);
  
  margin-top:100px;
  color: white;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.clinicas {
  font-size: 30px;
  font-family: "Noto Sans" sans-serif;
  font-weight: 700;
}
.redes {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: "Noto Sans" sans-serif;
  font-weight: 700;
}


.logos {
  font-size: 35px;
  color: #acacac;
  cursor: pointer;
  transition: .3s ease;
}
.logos:hover{
  color: #e7e7e7;
  transform: translateY(-2px);
}

